/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
}
.header {
    position: fixed;
    
    background-color: aqua;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: blueviolet;

}




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__body {
    position: relative;
    


    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header__logo {
    z-index: 5;
    position: relative;
    flex: 0 0 60px;
    
    border-radius: 50%;
    overflow: hidden;
  
    
   

}
.header__logo img{
    width: 60px;
    height: 60px;
    
    
    

}
.header__burger {
    display: none;
}
.header__menu {
    
}
.header__list {
    display: flex;
    position: relative;
    z-index: 3;
    
}
.header__list li{
    margin: 0  0 0 20px;
    position: relative;
    
   
}

.header__link {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    
}
.header__link:hover::after{
    content: '';
    position: absolute;
    
    display: block;
    
    width: 100%;
    height: 2px;
    

    background-color: #fff;
    transition: all 0.3s ease 0s;
 
    
}
.content {
    padding: 100px 0 0 0;
}
.content__text {
    font-size: 18px;
    line-height: 24px;
}
.content__text p{
   
    margin: 0 0 30px 0;
}
@media (max-width:767px){
    .header__body{
        height: 60px;
    }
    
    .header__logo{
        flex: 0 0 40px;
    }
    .header__logo img{
        height: 40px;
        width: 40px;
    }
    
    .header__burger{
        display: block;
        position: relative;
        z-index: 5;
        
        width: 30px;
        height: 20px;
       

    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
       
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all 0.3s ease 0s;

    }
    .header__burger::before{
        top: 2px;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span {
        display: block;
        position: absolute;
       
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        top: 10px;

    }

    .header__menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        padding: 100px 0 0 30px ;
        transition: all 0.3s ease 0s;
    }
    .header__list{
        display: block;
    }
    .header__link:hover::after{
        content: '';
        width: 0px;
        height: 0px;

        
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    
    .header__burger.active::after{
        transform: rotate(-45deg);
        top: 9px;
    }
    .header__burger.active span{
        display: none;
    }
    .header__menu.active{
        left: 0;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
}