/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/



body{
    background-color: #e8e8e8;
}
.content {
    margin: 113px 291px 0 291px;
}
.content-title {
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
}
.first-list {
}
.first-list li {
    background: url('../img/icons/check.png') no-repeat;
    padding-left:30px ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 0 20px 0;

}
.first-list li:first-child {
    text-decoration: line-through;

}
.first-list li:nth-child(2){
   font-weight: 700;

}
.first-list li:nth-child(3){
    font-style: italic;

}
.first-list li:last-child{
    text-transform: uppercase;
    margin: 0 0 70px 0;

}
.second-list li{
    background: url('../img/icons/check.png') no-repeat;
    
    padding-left:30px ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 0 20px 0;
}
.second-list li:last-child{
    
    margin: 0 0 130px 0;
    
}

.second-list li:hover{
    
    color:#d55a5a;
   
}
.second-list li span:hover{
    
    
   
}


.content-button {
    margin: 0 0 130px 0;
}
.link-button {
    
    background: url('../img/icons/arrow.svg') 150px center no-repeat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #80b7b3;
    width: 200px;
    height: 50px;
    border-radius: 18px;
    box-shadow: 6px 0 40px rgba(128, 183, 179, 0.54);
    
}
.link-button:hover {
    background-color: #3a5856;

}
.link-button:active {
    background-color: #818181;
     
}
.content-input-text {
    margin-bottom: 150px;
}

.input-text{
    border: 1px solid black;
    width: 300px;
    height: 50px;
   
    
    font-size: 18px;
    padding: 10px;
    margin-bottom: 90px;

}

.input-text:focus{
    box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);

}